@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-start-hex: #101E39;
  --bg-end-hex: #3F4A60; */
  /* Dev Vars */
  --bg-start: #fff;
  --text-color: #4b7db5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  scroll-snap-type: y mandatory;
}

body {
  /* color: var(--bg-start); */
  color: var(--text-color)
  /* background: linear-gradient(
      to bottom right,
      transparent,
      var(--bg-end-hex)
    )
    var(--bg-start-hex) */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  scroll-snap-align: start;
}

#divSnap {
  scroll-snap-align: center;
}
